<header class="body-font bg-blue-500 bg-opacity:1">
    <div
      class="
        container
        mx-auto
        flex flex-wrap
        p-3
        flex-col
        md:flex-row
        items-center
      "
    >
      <a
        class="
          flex
          title-font
          font-medium
          items-center
          text-gray-900
          mb-4
          md:mb-0
        "
      >
        <div class="w-20 h-20 animate-pulse">
          <img class="rounded-full" src="logo2.png" alt="Logo" />
        </div>

        <span
          class="
            ml-3
            p-1
            text-2xl text-white
            transition
            duration-700
            ease-in-out
            hover:bg-white
            hover:text-blue-500
            border
            rounded-full
            transform
            hover:rotate-180
            hover:scale-100...
          "
          >WRITO</span
        >
      </a>
      <nav
        class="
          md:ml-auto
          flex flex-wrap
          items-center
          text-base
          justify-center
          text-white
        "
      >
        <a
          href="/"
          class="mr-5 hover:text-blue-500 hover:bg-white rounded p-1"
          >Home</a
        >
      </nav>
      <a
        href="/register"
        class="
          inline-flex
          items-center
          bg-gray-100
          border-0
          py-1
          px-3
          focus:outline-none
          hover:bg-green-400
          hover:text-white
          rounded-lg
          text-base
          mt-4
          mr-4
          md:mt-0
        "
      >
        Let's Write
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </header>