<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header1'); %>
</header>

   
    <section>
      <h1
        class="
          ml-auto
          flex flex-wrap
          justify-center
          sm:pr-16
          text-4xl
          font-medium
          title-font
          text-gray-900
        "
      >
        FAQ
      </h1>
    </section>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-4xl font-medium text-gray-900 title-font mb-2">
              FAQ about the secure online diary and free private journal WRITO
            </h2>
            <p class="leading-relaxed">
              The most frequently asked questions about the secure online diary
              and free private journal Writo are answered here.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              What can I use Writo for?
            </h2>
            <p class="leading-relaxed">
              On Writo you can save private entries of all kinds, safely
              encrypted and protected from prying eyes. The safe online diary
              can be used as a personal journal, virtual notebook, or storage
              space or as a place to jot down ideas and thoughts on the spur of
              the moment. In order to use Writo all you need is an Internet
              connection. You can access your data from anywhere on the web.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Will my data be transferred and stored securely?
            </h2>
            <p class="leading-relaxed">
              The secure online diary Writo uses state-of-the-art security
              standards to safely transfer and store your data. For example,
              your data is only transmitted in encrypted form and is stored on
              secure servers in India. The encryption of your data takes place
              directly on your computer or mobile device, i.e. before being
              transferred to the server. With this approach Writo set themselves
              apart from other providers who do not encrypt user data at all or
              only provide server-side encryption.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Can my entries be read by others?
            </h2>
            <p class="leading-relaxed">
              No. Writo can only be used in private and only you can read your
              entries. As a matter of principle, the application does not offer
              any features that allow publishing or sharing of entries. This
              ensures that your data remains safe from prying eyes. Just as in a
              good old paper diary.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Why is there no ‘Forgot password’ function?
            </h2>
            <p class="leading-relaxed">
              Writo uses client-side encryption. This means that encryption
              occurs before the data leaves the computer of the user. So no
              unauthorized users, not even monkkee employees, can access your
              data or your password. As a side effect, it is not possible to
              retrieve your password or assign a new password in case you forget
              it. If you are not sure whether you can remember your password, we
              recommend that you set up a password hint. In case of emergency,
              you can then use the function ‘Send password hint’ to have your
              password reminder sent to your email address.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Does Writo also run on my smartphone or tablet PC?
            </h2>
            <p class="leading-relaxed">
              Yes, all common mobile browsers are supported so that monkkee’s
              complete range of functions can also be used on smartphones and
              tablets. There are, however, no plans to develop a dedicated
              mobile app in the near future.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Which browsers are supported?
            </h2>
            <p class="leading-relaxed">
              Writo works with the following browsers: Firefox (from 3.5),
              Chrome, Internet Explorer (from 10.0), Safari (from 4.0), Opera
              (from 10.6), iOS Safari (from 5.0), Blackberry Browser, Opera
              Mobile (from 11.0), Chrome for Android, Firefox for Android.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              How can I print or export my entries?
            </h2>
            <p class="leading-relaxed">
              Use Writo's print function to print individual or several
              previously selected entries. Use Writo’s export function (under
              Settings > Export) to download your journal entries as one file
              and store them as clear text on your computer. The following
              export formats are available: HTML, PDF, Markdown, JSON and XML.
              At the moment, Writo’s PDF export only supports the first 256
              characters of the Unicode character set, i.e. mainly the Latin
              alphabet. Some special characters (e.g. the € sign) and languages
              (e.g. Cyrillic, Arabic, etc.) cannot be displayed in PDF format.
              If your character set is not supported, but you would still like
              to create a PDF file of your journal, there is an alternative –
              the Chrome browser. Follow the steps below to convert your Writo
              journal into a PDF file using Chrome: – Install Chrome, or, if
              Chrome is already installed on your PC, access your Writo journal
              via Chrome. – Tick the journal entries you would like to export to
              PDF. – Click the print symbol. A print window opens. – Click
              “Print” again. This will open the print view of Chrome. – Select
              the option “Save as PDF”. – Click “Save”. You have created a PDF
              file of your journal! There are further programs such as PDF
              Creator that allow you to create PDF files directly in your
              browser. If you don’t want to export your entire journal but only
              individual entries, this can be done via Writo’s print function.
              Simply tick the entries you wish to export, click the print
              symbol, copy the content of the print window and paste it into
              your text processing software. By the way, Writo does not have an
              import function at the moment.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Can I keep several journals in one account?
            </h2>
            <p class="leading-relaxed">
              Yes. Writo offers you the possibility to tag your entries. This
              allows you to categorize them – for example by creating tags such
              as ‘Travel diary’, ‘Ideas’ or similar and then assigning each new
              entry to one of these categories.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              My browser crashed while I was writing an entry. Is the entry lost
              now?
            </h2>
            <p class="leading-relaxed">
              Writo’s auto-save function ensures that your entry is
              automatically saved while you are editing it. If you leave the
              page or the connection between your device and Writo.in is lost
              for some reason, the last version will always be saved.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              I forgot to log out of my account. Can others who use the computer
              after me read my entries?
            </h2>
            <p class="leading-relaxed">
              No. The application will automatically log you out if you remain
              inactive for more than 10 minutes. You can adjust the period of
              time after which the automatic logout should take place under
              ‘Settings’
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              How do I change the language on Writo?
            </h2>
            <p class="leading-relaxed">
              In order to change the language on Writo, go to Settings and then
              click Language. Use the drop-down box to select your primary
              language.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Does Writo provide a demo account?
            </h2>
            <p class="leading-relaxed">
              Yes. Simply sign in with the user name ‘demo’ and the password
              ‘demo1234’ and give monkkee a try. Just like a normal user
              account, the demo account lets you create entries, assign tags,
              etc. Functions such as ‘Delete account’ or ‘Change email address’
              are obviously disabled. The demo user is periodically reset and
              any test entries are deleted. Please keep in mind while writing
              that the demo account is public.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              How do I change the date of a journal entry?
            </h2>
            <p class="leading-relaxed">
              This blog article describes how to change the date of your journal
              entries.
            </p>
          </div>
        </div>
      </div>
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              How do I check the spelling of my journal entries?
            </h2>
            <p class="leading-relaxed">
              This blog article describes how to enable the automatic
              spell-checker of your browser to check the spelling of your
              journal entries.
            </p>
            <p class="text-gray-900 py-8 text-2xl font-medium title-font">
              You have not found the answer to your question here? Use the
              <a
                href="contact_us.html"
                class="text-orange-400 hover:text-blue-400"
                >contact form</a
              >
              to send Writo a message.
            </p>
          </div>
        </div>
      </div>
    </section>
    



<footer>
  <%- include('../partials/footer'); %>
</footer>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>
</html>