<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<section class="slider overflow-x-hidden stick">
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "You can do anything, but not everything."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >David Allen</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "If everthing seems under control, you are not going fast enough."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >F1 Racer Mario Andretti</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "Pressure is a privilege."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Tennis legend Billie Jean</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "You have to keep breaking your heart until it opens."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white">Rumi</a>
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "Comparison is the theif of joy. "
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Theodore Roosevelt</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "The only devils in the world are those running in our hearts. That
          is where the battle should be fought."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Mahatma Gandhi</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "Unexpressed emotions will never die. They are buried alive and they
          will come forth later in uglier ways."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Sigmund Freud</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "None but the brave deserve the fair."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >John Dryden</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "Be yourself. Everyone else is already taken."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Oscar Wilde</a
        >
      </div>
    </div>
    <div
      class="
        py-0
        px-8
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <p class="flex justify-center text-white g_f text-3xl">
          "Be wiser than other people if you can; but do not tell them so."
        </p>
      </div>
      <div class="flex justify-center">
        <a href="" class="text-xl font-medium text-white"
          >Lord Chesterfield</a
        >
      </div>
    </div>
  </section>
  <section id="home" class="text-gray-600 body-font">
    <div
      class="
        container
        pb-0
        mx-auto
        flex
        px-5
        py-24
        md:flex-row
        flex-col
        items-center
      "
    >
      <div
        class="
          lg:w-1/2
          md:w-1/2
          lg:pr-24
          md:pr-16
          flex flex-col
          md:items-start
          md:text-left
          mb-16
          md:mb-0
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            sm:text-2xl
            text-2xl
            mb-4
            font-medium
            text-gray-900
          "
        >
          ONLINE JOURNAL
        </h1>
        <h1
          class="
            title-font
            sm:text-6xl
            text-6xl
            mb-4
            font-medium
            text-gray-900
          "
        >
          WRITE EVERYDAY
        </h1>
        <p class="mb-8 leading-relaxed w-full text-justify">
          Whether you’re looking for a tool to keep your reflective thoughts
          or to keep track of milestones. Your creative ideas or to draw
          memories for future or to keep your dreams sorted in a journal.
          Writo is here to for you. Writo provides you the tools needed to
          keep your focus preserved. It can help you create ideas rather than
          waste energy on the process of writing itself.
        </p>
        <h1
          class="
            ml-56
            p-8
            text-white
            bg-blue-500
            border
            rounded-full
            mb-20
            text-1xl
            md:text-3xl
          "
        >
          IT'S FREE!
        </h1>
      </div>

      <div class="md:w-1/2 w-60">
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_cq2ykkjy.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
  </section>

  <section id="pri" class="bg-blue-500 bg-opacity:1 text-gray-600 body-font">
    <div
      class="
        container
        mx-auto
        flex
        px-5
        py-24
        md:flex-row
        flex-col
        items-center
      "
    >
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img
          class="object-cover object-center rounded"
          alt="hero"
          src="images/p2.png"
        />
      </div>
      <div
        class="
          lg:flex-grow
          md:w-1/2
          lg:pl-24
          md:pl-16
          flex flex-col
          md:items-start
          md:text-left
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            sm:text-3xl
            text-3xl
            mb-4
            font-medium
            text-gray-900
          "
        >
          Writo's #1 Priority
        </h1>
        <h1
          class="
            title-font
            sm:text-6xl
            text-3xl
            mb-4
            font-large
            text-gray-900
          "
        >
          Your Privacy
        </h1>
        <p class="text-gray-900 text-justify">
          Even when kept private, paper diaries could be read by anyone when
          time happens upon it. Writo is to keep your entries safe and private
          with password protection. Your privacy is strenthened with
          comprehensive security concept. Writo is strongly committed to
          maintain the secrecy of your content.
        </p>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div
      class="
        container
        mx-auto
        flex
        px-5
        py-24
        md:flex-row
        flex-col
        items-center
      "
    >
      <div
        class="
          lg:flex-grow
          md:w-1/2
          lg:pr-24
          md:pr-16
          flex flex-col
          md:items-start
          md:text-left
          mb-16
          md:mb-0
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            sm:text-4xl
            text-3xl
            mb-4
            font-medium
            text-gray-900
          "
        >
          Accessible anywhere ! <br class="hidden lg:inline-block" />
        </h1>
        <p class="mb-8 leading-relaxed text-justify">
          What do you need to use Writo? Just an internet enabled computer,
          tablet or mobille. Writo enabled with internet could be accessed
          anywhere. Whether you are at your home or school/college or anywhere
          – if you get an idea, don't let it go but save it on Writo. You can
          access every bit of idea any time, anywhere.
        </p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img
          class="object-cover object-center rounded"
          alt="hero"
          src="images/p4.png"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font bg-blue-500">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1
            class="
              sm:text-3xl
              text-2xl
              font-medium
              title-font
              mb-2
              text-gray-900
            "
          >
            Why it is necessary to write journal?
          </h1>
          <div class="h-1 w-20 bg-indigo-900 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full text-white text-justify">
          Journaling used the analytical and rational left side of the brain.
          While your left hemisphere is occupied, your right hemisphere (the
          creative brain) is given the freedom dive deep into the world of
          imagination! It flourished your creativity and shows significant
          positive changes in your psychology and everyday life. It
          hyperbolically boosts your mood, Enhances your sense of well-being,
          reduces symptoms of depression, anxiety and most importantly it
          improves your memory.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="images/p7.png"
              alt="content"
            />
            <h3
              class="
                tracking-widest
                text-indigo-500 text-xs
                font-medium
                title-font
              "
            >
              ORGANIZE
            </h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
            ORGANIZING TASKS
            </h2>
            <p class="leading-relaxed text-base">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="images/p9.png"
              alt="content"
            />
            <h3
              class="
                tracking-widest
                text-indigo-500 text-xs
                font-medium
                title-font
              "
            >
              SOLVE
            </h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              ASKING YOURSELF
            </h2>
            <p class="leading-relaxed text-base">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="images/p10.png"
              alt="content"
            />
            <h3
              class="
                tracking-widest
                text-indigo-500 text-xs
                font-medium
                title-font
              "
            >
              WIN
            </h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              ACHIEVE YOUR GOALS
            </h2>
            <p class="leading-relaxed text-base">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="images/p6.png"
              alt="content"
            />
            <h3
              class="
                tracking-widest
                text-indigo-500 text-xs
                font-medium
                title-font
              "
            >
              IDEA
            </h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              BOOST CREATIVITY
            </h2>
            <p class="leading-relaxed text-base">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="fea" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1
          class="
            sm:text-3xl
            text-2xl
            font-medium
            text-center
            title-font
            text-gray-900
            mb-4
          "
        >
          FEATURES
        </h1>
      </div>
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">It's Free</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Edit like pro</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Express with images</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium"
              >Don't worry it's automatically saved</span
            >
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Use tags to sort ideas</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Calendar is there</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Search within entries</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Printable</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Export in PDF</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium"
              >Inactivity causes automatic logout</span
            >
          </div>
        </div>
      </div>
      <a href=""
        ><button
          class="
            flex
            mx-auto
            mt-16
            text-white
            bg-indigo-500
            border-0
            py-2
            px-8
            focus:outline-none
            hover:bg-indigo-600
            rounded
            text-lg
          "
        >
          Let's Write
        </button></a
      >
    </div>
  </section>

  <section id="writo-team" class="text-gray-900 body-font bg-blue-500">
    <div class="container px-20 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-white">
          OUR TEAM
        </h1>
        <p class="lg:w-2/3 sm:w-1/2 mx-auto leading-relaxed text-white">
          Here we are passionately serving you the best.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              alt="team"
              class="
                flex-shrink-0
                rounded-lg
                w-auto
                h-56
                object-cover object-center
                mb-4
              "
              src="images/an.jpg"
            />
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-white">
                Aranyak Sharma
              </h2>
              <p class="mb-4">Finance, Content & Marketing</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                    ></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                    ></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                    ></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img
              alt="team"
              class="
                flex-shrink-0
                rounded-lg
                w-auto
                h-56
                object-cover object-center
                mb-4
              "
              src="images/bh.jpg"
            />
            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-white">
                BHAVY<u>A</u> SHARMA
              </h2>
              <p class="mb-4">Soft-o-tech</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                    ></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                    ></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                    ></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js"
      defer
    ></script>
    <script>
      window.addEventListener("load", function () {
        window.wpcc.init({
          border: "thin",
          corners: "large",
          colors: {
            popup: {
              background: "#cff5ff",
              text: "#000000",
              border: "#5e99c2",
            },
            button: { background: "#5e99c2", text: "#ffffff" },
          },
          position: "bottom",
          margin: "small",
          fontsize: "large",
          content: { href: "https://www.google.com" },
        });
      });
    </script>
  </section>
  <section class="slider bottom-0">
    <div
      class="
        py-0
        bg-gradient-to-r
        from-blue-500
        via-blue-400
        to-blue-500
        ...
        my-0
      "
    >
      <div>
        <div class="flex justify-start pl-4">
          <img
            class="w-10 h-10 m-4 md:w-20 md:h-20 md:m-5 border rounded-full"
            src="images/lc.jpg"
          />

          <div class="flex justify-start pt-2 text-sm">
            <p class="text-white">
              Lucky Kushwah<br />
              <span class="text-black">Marketing Executive, HDFC Bank</span>
            </p>
          </div>
          <p
            class="
              flex
              md:pt-10
              justify-end
              pl-16
              text-white
              t_f
              text-sm
              md:text-lg
            "
          >
            "Amazing user interface and editing toolkit is fantastic. "
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 11l7-7 7 7M5 19l7-7 7 7"
      /></svg>Top
  </button>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(".slider").slick({
    dots: false,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 6000,
    slidesToShow: 1,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
          dots: false,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
    ],
  });
</script>
<script>
  var mybutton = document.getElementById("myBtn");

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>
</html>