<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header4'); %>
  
</header>
<a href="/diary"><h1 class="text-center text-gray-600 g_f text-4xl hover:text-blue-500 mx-auto bg-gradient-to-r from-blue-400 via-purple-200 to-indigo-400 ... ">Back To Diary</h1></a>


<section class=" bg-cover bg-gradient-to-r from-blue-500 via-purple-400 to-indigo-500 ...">
    <div class="font-sans antialiased text-gray-900 leading-normal tracking-wider " >

   

        <div class="max-w-4xl flex items-center h-auto h-screen flex-wrap md:flex-col  mx-auto md:py-32  pl-8 ">
          
            <div class="w-full lg:w-3/5  md:-ml-24 opacity-100 ">
                <img src="./images/profile.png">
              </div> 
         
          <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-100 mx-6 lg:mx-0">
          
           

              <div class="p-4 md:p-12 text-center lg:text-left">
                 
                  
                  
                  <h1 class="text-3xl font-bold pt-8 lg:pt-0"></h1>
                  <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>
                  <p class="pt-8 text-sm">Totally optional short description about yourself, what you do and so on.</p>

                  <div class="pt-12 ">
                    <button class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full">
                      Change Password
                    </button> 
                 
                  </div>
              </div>
          </div>
      </div>        
 </div>
</section>

<footer>
  <%- include('../partials/footer'); %>
</footer>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>
</html>