<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header3'); %>
</header>

<section class="text-gray-600 body-font flex-row">
      
    <h1
      class="
        sm:text-3xl
        text-2xl
        font-medium
        text-center
        title-font
        text-blue-500
        pt-20
      "
    >
      JOIN US NOW !
    </h1>
    <a href="/logIn"><h1 class="text-center mx-auto  hover:text-white hover:bg-blue-500 w-1/3 container border-2 py-1 rounded-full">Already a member?<br><span class="text-lg">LOG IN</span></h1></a>
    <div class="container pl-20 py-24 mx-auto flex-wrap flex items-center">
      <div class="w-full md:w-1/2">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player
          src="https://assets3.lottiefiles.com/packages/lf20_q5pk6p1k.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
      <div
        class="
          lg:w-2/6
          md:w-1/2
          bg-gray-100
          rounded-lg
          p-8
          flex flex-wrap
          md:ml-auto
          mr-20
          w-full
          mt-10
          md:mt-0
        "
      >
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
          Sign Up
        </h2>
        <form action="/register" method="POST" class="mt-8" x-data="{password: '',password_confirm: ''}">
        <div class="relative mb-4">
          <label for="fullname" class="leading-7 text-sm text-gray-600"
            >Full Name</label
          >
          <input
            required
            type="text"
            id="fullname"
            name="fullname"
            class="
              w-full
              bg-white
              rounded
              border border-gray-300
              focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200
              text-base
              outline-none
              text-gray-700
              py-1
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
            "
          />
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600"
            >Email</label
          >
          <input
            required
            type="email"
            id="email"
            name="email"
            class="
              w-full
              bg-white
              rounded
              border border-gray-300
              focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200
              text-base
              outline-none
              text-gray-700
              py-1
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
            "
          />
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Create Password</label
          >
          <input
            required
            x-model="password"
            type="password"
            id="password"
            name="password"
            class="
              w-full
              bg-white
              rounded
              border border-gray-300
              focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200
              text-base
              outline-none
              text-gray-700
              py-1
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
            "
          />
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Confirm Password</label
          >
          <input
            x-model="password_confirm"
            required
            type="password"
            id="password"
            name="password_confirm"
            class="
              w-full
              bg-white
              rounded
              border border-gray-300
              focus:border-indigo-500
              focus:ring-2 focus:ring-indigo-200
              text-base
              outline-none
              text-gray-700
              py-1
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
            "
           />
        </div>
        <div class="flex justify-start mt-3 ml-4 p-1">
          <ul>
            <li class="flex items-center py-1">
              <div
                :class="{'bg-green-200 text-green-700': password == password_confirm && password.length > 0, 'bg-red-200 text-red-700':password != password_confirm || password.length == 0}"
                class="rounded-full p-1 fill-current"
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    x-show="password == password_confirm && password.length > 0"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                  <path
                    x-show="password != password_confirm || password.length == 0"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>
              <span
                :class="{'text-green-700': password == password_confirm && password.length > 0, 'text-red-700':password != password_confirm || password.length == 0}"
                class="font-medium text-sm ml-3"
                x-text="password == password_confirm && password.length > 0 ? 'Passwords match' : 'Passwords do not match' "
              ></span>
            </li>
            <li class="flex items-center py-1">
              <div
                :class="{'bg-green-200 text-green-700': password.length > 7, 'bg-red-200 text-red-700':password.length < 7 }"
                class="rounded-full p-1 fill-current"
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    x-show="password.length > 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                  <path
                    x-show="password.length < 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>
              <span
                :class="{'text-green-700': password.length > 7, 'text-red-700':password.length < 7 }"
                class="font-medium text-sm ml-3"
                x-text="password.length > 7 ? 'The minimum length is reached' : 'At least 8 characters required' "
              ></span>
            </li>
          </ul>
        </div>
        <div class="flex justify-start">
          <label
            class="block text-gray-500 font-bold my-4 flex items-center"
          >
            <input
              class="leading-loose text-pink-600 top-0"
              type="checkbox"
              required
            />
            <span class="ml-2 text-sm py-2 text-gray-600 text-left"
              >Accept the
              <a
                href="/terms_of_use"
                class="
                  font-semibold
                  text-black
                  border-b-2 border-red-300
                  hover:bg-blue-500
                  hover:text-white
                  
                "
              >
                Terms and Conditions </a
              > of the site and the information 
              <a
                href="/Privacy_Policy"
                class="
                  
                  font-semibold
                  text-black
                  border-b-2 border-red-300
                  hover:bg-blue-500
                  hover:text-white
                  
                "
              >
                Data Policy.</a
              >
            </span>
          </label>
        </div>
        <div>
          <input type="submit" value="Register"   class="
          text-white
          bg-indigo-500
          border-0
          py-2
          px-8
          focus:outline-none
          hover:bg-indigo-600
          rounded
          text-lg
        "/>
        </div>
      

        <p class="text-xs text-gray-500 mt-3">
          Fill in the sign up form to unleash your creative genius.
        </p>
       
      </div>
    </div>
    
  </form>
  
 
</section>


<footer>
  <%- include('../partials/footer'); %>
</footer>

<script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>
</html>